<div class="accordion">

  <a href="#" class="accordion-toggle">Kategori Perlengkapan Rumah Tangga<i class="fal fa-angle-up"></i></a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pa>For animate the "height" of element with CSS Transitions you need use "max-height".</pa>
      <pa>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</pa>
    </div>
  </div>

</div>

<div class="accordion">

  <a href="#" class="accordion-toggle">Kategori Bisnis & Jasa</a>
  <div class="accordion-content">
    <div class="accordion-inner">
      <pi><ul>
    <li><a class="cool-link" href="#">A cool link</a></li>
    <li><a class="cool-link" href="#">A cool link</a></li>
    <li><a class="cool-link" href="#">A cool link</a></li>
</ul></pi>
      <pi>If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and you can use "max-height" with a great value for emulate this effect.</pi>
    </div>
  </div>
</div>
